# EditorConfig: https://EditorConfig.org

# this is the top-most EditorConfig file
root = true

# defaults
[*]
end_of_line = lf
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

[Makefile]
# Tab indentation
indent_style = tab
